// culori 
$primary: #1ea896;       
$primary-contrast: #0d1b2a;
$muted: #6c7a89;
$white: #ffffff;
$black: #0d1b2a;

$orange: #ff9f57;
$yellow: #eaf700;
$grey: #e3e6ea;

$bg-card: #ffffff;
$border: #e2e8f0;
$input-border: #cbd5e1;

$btn-bg: #176d81;          
$btn-bg-active: #0f4c5c;
$link-hover: #1ea896;

$error: #d90429;

$footer-bg: #0d1b2a;
$footer-text: #e2e8f0;


