// culori 
$primary: #1ea896;       
$primary-contrast: #0d1b2a;
$muted: #6c7a89;
$white: #ffffff;
$black: #0d1b2a;

$bg-card: #ffffff;
$border: #e2e8f0;
$input-border: #cbd5e1;

$btn-bg: #176d81;          
$btn-bg-active: #0f4c5c;
$link-hover: #1ea896;

$error: #d90429;

$footer-bg: #0d1b2a;
$footer-text: #e2e8f0;

// baground imagini
$bg-image-light: url('https://images.unsplash.com/photo-1500375592092-40eb2168fd21?auto=format&fit=crop&w=1600&q=80');
$bg-image-dark:  url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1600&q=80');
