@use 'variables' as v;
@use 'colors' as c;
@use 'mixins' as m;

// card
.card {
    display: grid;
    grid-template-columns: 1fr;
    gap: v.$space-4;
    background: c.$white;
    border: 1px solid c.$border;
    @include m.rounded(v.$radius-lg);
    padding: v.$space-4;
    position: relative;
    transition: box-shadow 0.2s background-color 0.2s;
    container-type: inline-size;

    &:hover {
        box-shadow: 0 0.25rem 0.75rem rgba(32, 30, 30, 0.1);
        background-color: c.$primary;
    }
}

.flag {
    width: 100%;
    height: auto;
    @include m.rounded(0.5rem);
    object-fit: cover;
    border: 1px solid c.$black;

    &:hover { transform: scale(1.15); }
}

// card content
.card h2 {
    margin-bottom: 0.375rem;
    font-size: 1.125rem;
}


.meta {
  display: grid;
  grid-template-columns: 1fr;
  gap: v.$space-1;
  margin-top: v.$space-2;
  font-size: v.$fs-lg;

  span:first-child { color: c.$muted; }
  span:last-child,
  a {
    color: c.$black;
    font-weight: 500;
  }

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// lista favorite
#favoritesList {
  margin-top: v.$space-4;
  padding: v.$space-4;
  background: c.$white;
  @include m.rounded(v.$radius-md);
  border: 1px solid c.$border;
  margin-bottom: v.$space-4;

  h3 { margin-bottom: v.$space-3; font-size: v.$fs-base; }

  button {
    margin: v.$space-1;
    padding: 0.5rem 0.75rem;
    background: #f0f0f0;
    border: 1px solid c.$input-border;
    @include m.rounded(v.$radius-sm);
    cursor: pointer;
    font-size: v.$fs-sm;

    &:hover {
      background: c.$primary;
      transform: scale(1.15);
    }
  }

  p {
    font-size: v.$fs-sm;
    color: c.$muted;
    text-align: center;
  }
}

// istoric
#history {
  margin-top: v.$space-4;
  padding: v.$space-4;
  background: c.$white;
  @include m.rounded(v.$radius-md);
  border: 1px solid c.$border;
  margin-bottom: v.$space-4;

  h3 { margin-bottom: v.$space-3; font-size: v.$fs-base; }

  button {
    margin: v.$space-1;
    padding: 0.5rem 0.75rem;
    background: #f0f0f0;
    border: 1px solid c.$input-border;
    @include m.rounded(v.$radius-sm);
    cursor: pointer;
    font-size: v.$fs-sm;

    &:hover {
      background: c.$primary;
      transform: scale(1.15);
    }
  }
}
