//layout: wrapper, sidebars, grid
@use 'variables' as v;
@use 'colors' as c;
@use 'mixins' as m;

// .wrapper {
//     display: flex;
//     justify-content: space-between;
//     gap: v.$space-5;
//     align-items: stretch;
// }

.sidebar,
.favorite-sidebar {
    background: c.$bg-card;
    border: 1px solid c.$border;
    @include m.rounded(v.$radius-lg);
    padding: v.$space-4;
    width: 12rem;
    height: fit-content;
}

.results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: v.$space-4;
}

.searchbar {
  display: flex;
  gap: v.$space-3;
  margin-bottom: v.$space-4;
  flex-wrap: wrap;

  .dark-mode & {
    // background: c.$orange;
    border-color: c.$primary;
    input[type="text"] {
        background: c.$orange;
    }
  }
}

